h1
 {
    font: normal 30pt Arial;
}

h2
 {
    font: normal 25pt Arial;
}

h3
 {
    font: normal 20pt Arial;
}

p{
    font: normal 10pt Arial;
}

section{
    background-color: rgba(255, 255, 255, 0.712);
    width: fit-content;
    border-radius: 10px;
    padding: 8px;
    padding-top: 1px;
    box-shadow: 2px 2px 25px rgba(3, 3, 3, 0.171);
    position: relative;
}

