<div class="container">
    <section class="grid">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="item">
            <div class="grid-template-columns rows">
                <p><label for="name"> Primeiro nome: </label>
                    <input class="input" type="text" value="" id="name" placeholder="Digite seu nome" name="name"
                        minlength="3" [ngModel]="user.name" required #name="ngModel" autocomplete="off"
                        pattern="[a-zA-Z]+">
                </p>
                <!--div>
                        Created to see the content
                        {{ nome.className }}
                    </div-->
                <p><label for="surname"> Sobrenome: </label>
                    <input class="input" type="text" value="" id="surname" placeholder="Digite seu sobrenome"
                        name="surname" minlength="3" [ngModel]="user.surname" autocomplete="off" required
                        #surname="ngModel"></p>
           
                <p><label for="surname"> CPF: </label>
                    <input class="input" type="text" value="" id="cpf" placeholder="xxx.xxx.xxx-xx" name="cpf"
                        [ngModel]="user.cpf" autocomplete="off" required #cpf="ngModel" mask="000.000.000-99" /></p>
        
                <p><label for="pass"> Senha: </label>
                    <input class="input" type="password" value="" id="pass" placeholder="*******" name="pass"
                        [ngModel]="user.pass" autocomplete="off" required #password="ngModel"></p>
               
                <div class="cadBtn">
                    <button class="button">Cadastrar</button>
                </div>
                <div class="canBtn">
                    <button class="button">Cancelar</button>
                </div>
            </div>
            <div id="msgs-name">
                <div *ngIf="!name.valid && name.touched">
                    Nome é obrigatório.
                </div>
                <div *ngIf="!name.valid && name.touched && name.errors.minlength">
                    Nome deve conter ao menos 3 caracteres.
                </div>
                <div *ngIf="!name.valid && name.touched && name.errors.pattern">
                    Nome não pode conter caracteres numéricos.
                </div>
            </div>
            <div class="msgs-surname">
                <div *ngIf="!surname.valid && surname.touched">
                    Sobrenome é obrigatório.
                </div>
                <div *ngIf="!surname.valid && surname.touched && surname.errors.minlength">
                    Sobrenome deve conter ao menos 3 caracteres.
                </div>
                <div *ngIf="!surname.valid && surname.touched && surname.errors.pattern">
                    Sobrenome não pode conter caracteres numéricos.
                </div>
            </div>
            <div class="msgs-cpf">
                <div *ngIf="!cpf.valid && cpf.touched">
                    Sobrenome é obrigatório.
                </div>
            </div>
            <div class="msgs-password">
                <div *ngIf="!password.valid && password.touched">
                    Senha é obrigatória.
                </div>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>
    </section>
</div>